html, body {
    font-size: 10px;
    background-color: black;
    margin: 0;
    padding: 0;
}

#container {
    color: white;
    height: 100vh;
    border: 3px solid white;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.option {
    width: 10rem;
    height: 10rem;
    
}

#score {
    color: white;
    font-size: 25px;
    top: 200px;
    left: 50px;
}

#new {
    position: absolute;
    top: 400px;
    left: 35px;
}

.result {
    position: absolute;
    top: 80px;
    font-size: 70px;
    background-color: aliceblue;
    color: black;
}